.channelCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor:pointer;
}

.greeting {
    margin: 0 auto;
    margin-left: 40px;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: darkblue;
}

h2{
    text-align: center;
    margin-top: 2rem;
}

.button{
    text-align: center;
    margin: 2rem auto;
    background: rgb(173, 173, 173);
    width: 20%;
    min-width: 270px;
    padding: 1rem;
    border-radius: 5px; 
    font-weight: 600;
    color:black;
     
}

a {
    text-decoration: none;
}

.button:hover {
    background: rgb(186, 188, 189);
    color:rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.programWrapper {
    display: flex;
    justify-content: center;
}
.categoryWrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.category {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(120, 104, 121);
    width: 250px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    
}
.category b {
    font-weight: 600;
}

.category:hover {
    background-color: rgb(155, 144, 156);
}
.logo {
    width: 90%;
    height: auto;
    margin:1rem auto;
    display: flex;
    justify-content: center;
}

.logo img {
    display: block;
}

@media (min-width: 375px) {
    .button{
        width: 50%;
        padding: 0.5rem;  
    }
    .topPrograms{
        width: 100%;
    }
   
}

@media (min-width: 768px) {
    .logo {
        width: 70%;
    }
    .button{
        width: 30%;
        padding: 0.5rem;  
    }
}

@media (min-width: 992px) {
    .button{
        width: 20%;
        padding: 0.5rem;  
    }
    .topPrograms {
        width: 80%;
    }
    .logo {
        width: 55%;
    }
    .topCategories {
        margin: 1rem 4rem;
    }
    
}
   
